<!doctype html>
<html>
<head>
  <title>Time to play a game! </title>
</head>
<body>
    Hi {{ person }}! Can you please fill out the form below? Be as creative as possible! 
    <form action="/madlib">
        <p><label>Person: <input type="text" name="person"></label></p>
        <p><label>Color: <input type="text" name="color"></label></p>
        <p><label>Noun: <input type="text" name="noun"></label></p>
        <p><label>Adjective: <input type="text" name="adjective"></label></p>
        <p><input type="submit"></p>
      </form>
      
        
      
</body>
</html>